:root{
    --color-1: #192a32;
    --color-2: #5bc4bf;
    --color-3: #efb238;
    --color-4: #a6bcc6;
    --color-5: #11212a;
    --color-6: #1f3540;
    --color-7: #1a2c35;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--color-1);
    color: var(--color-4);
}

.calculator-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator{
    display: flex;
    flex-direction: column;
    background-color: var(--color-6);
    gap: 1em;
    padding: 1.5em;
    max-height: 85vh;
    max-width: 40%;
    border-radius: 10px;
    border-bottom: 7px solid var(--color-5);
}

.screen{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--color-5);
    flex: 1 1 auto;
    border-radius: 10px;
    font-size: 3.5rem;
    padding: 0 .1em;
}

.keypad{
    display: grid; 
    min-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .3em;
}

button{
    transition: 0.1s;
    padding: .9em 1em;
    border-radius: 10px;
    border: none;
    background-color: var(--color-5);
    color: var(--color-4);
    border-bottom: 5px solid #667981;
    font-size: 1.3rem;
    font-weight: bolder;
}

button:hover{
    border-bottom: 3px solid #667981;
    background-color: #121e25;
}


button:active{
    border-bottom: 3px solid #fff;
    background-color: var(--color-5);
}

#AC
,#CL{
    background-color: var(--color-3);
    color: var(--color-5);
    border-bottom: 5px solid #74561b;
}

#AC:hover
,#CL:hover{
    background-color: #b98723;
    border-bottom: 3px solid #74561b;
}

#AC:active
,#CL:active{
    background-color: var(--color-3);
    border-bottom: 3px solid var(--color-2);
}

.semi-operator,
.operator{
    background-color: var(--color-4);
    color: var(--color-5);
    border-bottom: 5px solid var(--color-5);
}

.semi-operator:hover,
.operator:hover{
    background-color:  #859ca7;
    border-bottom: 3px solid var(--color-5);
}

.semi-operator:active,
.operator:active{
    background-color: var(--color-4);
    border-bottom: 3px solid #838383;
}

@media (max-width:850px){
    .calculator{
        max-width: 100%;
    }

}